@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

// SECTION YouFoundTiffany CUSTOM COLORS, FONTS, CLASSES
:root {
  --SkyMist: #8ecae6;
  --DeepCerulean: #219ebc;
  --MidnightNavy: #023047;
  --Goldenrod: #ffb703;
  --SunsetOrange: #fb8500;
}

.bg-SkyMist {
  background-color: #8ecae6;
}

.bg-DeepCerulean {
  background-color: #219ebc;
}

.bg-MidnightNavy {
  background-color: #023047;
}

.bg-SkyMist {
  background-color: #8ecae6;
}

.bg-Goldenrod {
  background-color: #ffb703;
}

.bg-SunsetOrange {
  background-color: #fb8500;
}

// TEXT COLORS
.txt-SkyMist {
  color: #8ecae6;
}

.txt-DeepCerulean {
  color: #219ebc;
}

.txt-MidnightNavy {
  color: #023047;
}

.txt-Goldenrod {
  color: #ffb703;
}

.txt-SunsetOrange {
  color: #fb8500;
}

// FONTS

.font-PlayfairDis {
  font-family: 'Playfair Display', serif !important;
}

.font-Lato {
  font-family: 'Lato', sans-serif !important;
}

.font-NotoEmoji {
  font-family: 'Noto Color Emoji', sans-serif;
}

// SECTION YouFoundTiffany custom colors and classes
body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}