@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

// SECTION YouFoundTiffany CUSTOM COLORS, FONTS, CLASSES
:root {
  --Cardinal: rgb(238, 17, 50);
  --Passion: rgb(249, 0, 158);
  --Orange-Wheel: rgb(242, 103, 11);
  --Jonquil: rgb(246, 191, 10);
  --Sea-Green: #04db21;
  --Moonstone: #02eafb;
  --SkyMist: #bd9bfa;
  --Black: #000000;
  --DeepCerulean: #219ebc;
  --MidnightNavy: #023047;
  --Goldenrod: #ffb703;
  --SunsetOrange: #fb8500;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.glow {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
}

.bg-Cardinal {
  background-color: var(--Cardinal) !important;
}

.bg-Passion {
  background-color: var(--Passion) !important;
}

.bg-Orange-Wheel {
  background-color: var(--Orange-Wheel) !important;
}

.bg-Jonquil {
  background-color: var(--Jonquil) !important;
}

.bg-Sea-Green {
  background-color: var(--Sea-Green) !important;
}

.bg-Moonstone {
  background-color: var(--Moonstone) !important;
}

.bg-sky-mist {
  background-color: var(--SkyMist) !important;
}

.bg-black {
  background-color: var(--Black) !important;
}

.bg-SkyMist {
  background-color: var(--SkyMist) !important;
}

.bg-DeepCerulean {
  background-color: var(--DeepCerulean) !important;
}

.bg-MidnightNavy {
  background-color: var(--MidnightNavy) !important;
}

.bg-SkyMist {
  background-color: var(--SkyMist) !important;
}

.bg-Goldenrod {
  background-color: var(--Goldenrod) !important;
}

.bg-SunsetOrange {
  background-color: var(--SunsetOrange) !important;
}

.bg-DeepCeruleanOpac50 {
  background-color: rgba(75, 167, 189, 0.5) !important;
}

.bg-opac40 {
  backdrop-filter: opacity(40%) !important;
}

.bg-opac30 {
  backdrop-filter: opacity(30%) !important;
}

// TEXT COLORS
.txt-Cardinal {
  color: var(--Cardinal) !important;
}

.txt-Passion {
  color: var(--Passion) !important;
}

.txt-Orange-Wheel {
  color: var(--Orange-Wheel) !important;
}

.txt-Jonquil {
  color: var(--Jonquil) !important;
}

.txt-Sea-Green {
  color: var(--Sea-Green) !important;
}

.txt-Moonstone {
  color: var(--Moonstone) !important;
}

.txt-sky-mist {
  color: var(--SkyMist) !important;
}

.txt-black {
  color: var(--Black) !important;
}

.txt-SkyMist {
  color: var(--SkyMist) !important;
}

.txt-DeepCerulean {
  color: var(--DeepCerulean) !important;
}

.txt-MidnightNavy {
  color: var(--MidnightNavy) !important;
}

.txt-Goldenrod {
  color: var(--Goldenrod) !important;
}

.txt-SunsetOrange {
  color: var(--SunsetOrange) !important;
}

// FONTS
.tiltNeon {
  font-family: 'Tilt Neon', sans-serif;
}

.font-PlayfairDis {
  font-family: 'Playfair Display', serif !important;
}

.font-Lato {
  font-family: 'Lato', sans-serif !important;
}

.font-NotoEmoji {
  font-family: 'Noto Color Emoji', sans-serif;
}

// .poloCard {
//   height: 52vh;
// }

// .contentsecs {
//   z-index: -1;
// }

/* ANIMATION */
/* */
.poloroid {
  animation: fly 120s linear infinite;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  max-height: 15rem;
  max-width: 100%;
  // pointer-events: none;
}

.poloroid:hover {
  animation-play-state: paused;
}



@keyframes fly {
  0% {
    transform: translate(-90%, 60vh) rotateZ(0deg);
    /* opacity: 1; */
  }

  12.5% {
    transform: translate(100vw, -20%) rotateZ(20deg);
  }

  25% {
    transform: translate(-90%, 50vh) scale(1.75) rotateZ(-20deg);
  }

  37.5% {
    transform: translate(-90%, -90%) rotateZ(-40deg);
    /* opacity: .5; */
  }

  50% {
    transform: translate(90vw, 50vh) rotateZ(0deg);
  }

  62.5% {
    transform: translate(20vw, 90vh) rotateZ(20deg);
  }

  75% {
    transform: translate(100%, 90vh) rotateZ(20deg);
    /* opacity: .25; */
  }

  87.5% {
    transform: translate(50vw, -90%) scale(1.75) rotateZ(20deg);
  }

  100% {
    transform: translate(-90%, 80vh) rotateZ(0deg);
    /* opacity: 1; */
  }
}

.galaxy {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  height: 100vh;
  width: 100%;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/459de539-eaef-4d11-bfdf-0c786f1f42ba/dfkytro-c8c27675-a312-4166-850e-c28885941c18.jpg/v1/fill/w_1264,h_632,q_70,strp/rainbow_galaxy_dreamscape_8_by_themeyoudontsee_dfkytro-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvNDU5ZGU1MzktZWFlZi00ZDExLWJmZGYtMGM3ODZmMWY0MmJhXC9kZmt5dHJvLWM4YzI3Njc1LWEzMTItNDE2Ni04NTBlLWMyODg4NTk0MWMxOC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0qFeY1oqWkdnQdz6NGwo_jrSDKtSnOTj8snvwZdCaB8);
  // overscroll-behavior: none;
}


#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}