@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

// SECTION YouFoundTiffany CUSTOM COLORS, FONTS, CLASSES
:root {
  --Cardinal: #CC223Bff;
  --Orange-Wheel: #F58C45ff;
  --Jonquil: #EAC800ff;
  --Sea-Green: #09cf58;
  --Moonstone: #11d1e2;
  --SkyMist: #8ecae6;
  --Black: #000000;
  --DeepCerulean: #219ebc;
  --MidnightNavy: #023047;
  --Goldenrod: #ffb703;
  --SunsetOrange: #fb8500;
}

.bg-Cardinal {
  background-color: var(--Cardinal) !important;
}

.bg-Orange-Wheel {
  background-color: #F58C45ff;
}

.bg-Jonquil {
  background-color: #EAC800ff;
}

.bg-Sea-Green {
  background-color: #09cf58;
}

.bg-Moonstone {
  background-color: #11d1e2;
}

.bg-sky-mist {
  background-color: #8ecae6;
}

.bg-black {
  background-color: #000000;
}

.bg-SkyMist {
  background-color: #8ecae6 !important;
}

.bg-DeepCerulean {
  background-color: #219ebc !important;
}

.bg-MidnightNavy {
  background-color: #023047 !important;
}

.bg-SkyMist {
  background-color: #8ecae6 !important;
}

.bg-Goldenrod {
  background-color: #ffb703 !important;
}

.bg-SunsetOrange {
  background-color: #fb8500 !important;
}

.bg-DeepCeruleanOpac50 {
  background-color: #219dbc87 !important;
}

.bg-opac40 {
  backdrop-filter: opacity(40%) !important;
}

.bg-opac30 {
  backdrop-filter: opacity(30%) !important;
}

// TEXT COLORS
.txt-Cardinal {
  color: #CC223Bff;
}

.txt-Orange-Wheel {
  color: #F58C45ff;
}

.txt-Jonquil {
  color: #EAC800ff;
}

.txt-Sea-Green {
  color: #09cf58;
}

.txt-Moonstone {
  color: #11d1e2;
}

.txt-sky-mist {
  color: #8ecae6;
}

.txt-black {
  color: #000000;
}

.txt-SkyMist {
  color: #8ecae6 !important;
}

.txt-DeepCerulean {
  color: #219ebc !important;
}

.txt-MidnightNavy {
  color: #023047 !important;
}

.txt-Goldenrod {
  color: #ffb703 !important;
}

.txt-SunsetOrange {
  color: #fb8500 !important;
}

// FONTS

.font-PlayfairDis {
  font-family: 'Playfair Display', serif !important;
}

.font-Lato {
  font-family: 'Lato', sans-serif !important;
}

.font-NotoEmoji {
  font-family: 'Noto Color Emoji', sans-serif;
}

/* ANIMATION */
/* .bubbleFly
.bubble */

.bubble {
  animation: fly 120s linear infinite;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  max-height: 15rem;
  max-width: 100%;
  /* pointer-events: none; */
}

.bubble:hover {
  // transition: all .2s ease-in-out;
  animation-play-state: paused;
  // transform: scale(2.5);
}

@keyframes fly {
  0% {

    transform: translate(-110%, 60vh) rotateZ(0deg);
    /* opacity: 1; */
  }

  12.5% {
    transform: translate(100vw, -80%) rotateZ(20deg);
  }

  25% {
    transform: translate(-100%, 50vh) scale(1.75) rotateZ(-20deg);
  }

  37.5% {
    transform: translate(-100%, -100%) rotateZ(-40deg);
    /* opacity: .5; */
  }

  50% {
    transform: translate(100vw, 50vh) rotateZ(0deg);
  }

  62.5% {
    transform: translate(20vw, 100vh) rotateZ(20deg);
  }

  75% {
    transform: translate(100%, 100vh) rotateZ(20deg);
    /* opacity: .25; */
  }

  87.5% {
    transform: translate(50vw, -100%) scale(1.75) rotateZ(20deg);
  }

  100% {
    transform: translate(-100%, 60vh) rotateZ(0deg);
    /* opacity: 1; */
  }
}

.galaxyBlur {
  height: 20px;
  /* Adjust the height of the blur as needed */
  backdrop-filter: blur(10px);
  /* Adjust the blur amount as needed */
  background-color: rgba(255, 255, 255, 0.5);
  /* Adjust the background color and opacity as needed */
}

.galaxy {
  height: 50vh;
  // overflow: hidden;
  // position: absolute;
  margin-bottom: 30rem;

  background-size: cover;
  background-position: center;
  // backdrop-filter: hue-rotate(40deg);
  // overscroll-behavior: none;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/459de539-eaef-4d11-bfdf-0c786f1f42ba/dfkytro-c8c27675-a312-4166-850e-c28885941c18.jpg/v1/fill/w_1264,h_632,q_70,strp/rainbow_galaxy_dreamscape_8_by_themeyoudontsee_dfkytro-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvNDU5ZGU1MzktZWFlZi00ZDExLWJmZGYtMGM3ODZmMWY0MmJhXC9kZmt5dHJvLWM4YzI3Njc1LWEzMTItNDE2Ni04NTBlLWMyODg4NTk0MWMxOC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0qFeY1oqWkdnQdz6NGwo_jrSDKtSnOTj8snvwZdCaB8);
}

// SECTION YouFoundTiffany custom colors and classes
// body {
// background-image: url(https://images.unsplash.com/photo-1542272201-b1ca555f8505?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
// // background-size: 130%;
// background-size: cover;
// background-position: center;
// // background-position-x: 30%;
// // background-position-y: 30%;
// // backdrop-filter: saturate(30%);
// backdrop-filter: hue-rotate(40deg);
// overscroll-behavior: none;
// }

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}